<%= form_with(model: location, id: dom_id(location), class: "loc-form") do |form| %>
  <% if location.errors.any? %>
    <div class="error-div" style="color: var(--cr-error)">
      <h2><%= pluralize(location.errors.count, "error") %> has occurred:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div>
      <%= form.text_field :name, placeholder: "Locaiton Name" %>
    </div>

    <div>
      <%= form.text_field :input, placeholder: "Ip / St. Address" %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
