<div 
  class="loc-card" 
  id="<%= dom_id location %>"
  data-controller="sidebar"
  data-action="click->sidebar#select">
  <div class="loc-name">
    <strong>Name:</strong>
    <%= location.name %>
  </div>

  <div class="loc-lat">
    <strong>Latitude:</strong>
    <%= location.lat %>
  </div>

  <div class="loc-long">
    <strong>Longitude</strong>
    <%= location.long %>
  </div>
  <%= button_to "Delete", location, method: :delete %>
</div>
